.wrap {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
}

.content {
  flex: 1;
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 40px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s forwards;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrap h1 {
  margin: 50px 20px 50px 0;
  font-size: 48px;
}

.reload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 20px;

  cursor: pointer;
  transition: opacity 0.2s;
}

.reload-button:hover {
  opacity: 0.8;
  animation: loading 0.4s forwards;
}

.status-container {
  height: 30vh;
  min-height: 150px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #333333;

  padding: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateX(-20px);
  animation: anime 0.4s forwards;
}

@keyframes anime {
  from {
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

.status-container h2 {
  margin-bottom: 20px;
}

.status-container span {
  font-size: 18px;
}

.status-container span:before {
  content: "";
  display: block;
  border-radius: 90px;
  width: 10px;
  height: 10px;
  float: left;
  margin: 5px 6px 0 0;
}

.status-container span.normal:before {
  background-color: lime;
}
.status-container span.inTroble:before {
  background-color: red;
}

.disclaimer p {
  margin-bottom: 10px;
  font-size: 18px;
}

.reload-mobile {
  display: none;
}

@media only screen and (max-width: 787px) {
  .wrap h1 {
    padding: 0;
    margin: 20px 0;
    font-size: 32px;
  }
  .reload-button {
    display: none;
  }
  .loading {
    width: 50px;
    height: 50px;
    border-width: 10px;
  }
  .status-container {
    height: auto;
    min-height: 0;
    border-radius: 10px;

    padding: 8px;
    margin-bottom: 15px;

    flex-direction: row;
    justify-content: space-between;
  }

  .status-container h2 {
    margin-bottom: 0;
    font-size: 14px;
  }

  .status-container span {
    font-size: 14px;
  }

  .status-container span:before {
    width: 8px;
    height: 8px;
    margin: 3px 6px 0 0;
  }

  .status-container.reload {
    display: none;
  }
  .status-container.reload-mobile {
    background-color: teal;
    display: flex;
  }

  .disclaimer p {
    font-size: 10px;
  }
}
